#list_page_seg1{
    width:740px;
    height: 680px;
    text-align: center;
    margin-left: 275px;
    margin-top: 15px;
}
#list_page_seg2{
    width:740px;
    height: 80px;
    margin-top: 45px;
    margin-left: 275px;
}
#list_page_h1{
    width:1250px;
    text-align: center;
}
#list_page_div1{
    text-align: center;
    /*background-color: #0d71bb;*/
    width:1250px;
    height: 700px;
    margin-left: 0px;
}
#list_page_div2{
    /*background-color: #19b82b;*/
    width:1250px;
    height: 650px;
}
#list_page_div3{
    /*background-color: #54ffff;*/
    width:740px;
    height: 100px;
}
#list_page_div4{
    text-align: left;
    width:1250px;
    height: 450px;
}
#list_page_div5{
  margin-right: 50px;
}
#list1{
    width:700px;
}