/*#select_page1{*/
/*    width: 1280px;*/
/*    height: 200px;*/
/*    float: left;*/
/*}*/
/*#select_page2{*/
/*    width:1280px;*/
/*    height: 200px;*/
/*    text-align: center;*/

/*}*/
#select_page3{
    margin-top: 40px;
    width:1280px;
    height: 450px;
}
/*.select_input1{*/
/*    width: 100px;*/
/*    margin-bottom: 20px;*/

/*    float: left;*/

/*}*/