#in_page1{
    width: 1320px;
    height: 830px;
    /*margin-left: 10px;*/
    /*margin-top: 30px;*/
    float: left;
    background-image: url("page1.jpg");
    background-size: 1320px,830px;
}
#in_page2{
    width: 480px;
    height: 650px;
    margin-left: 400px;
    margin-top: 75px;
    float: left;
}
#in_page3{
    width:450px;
    height: 650px;
    text-align: center;
}
#in_page4{

}
.page1_input1{
    width: 300px;
    margin-bottom: 20px;
}
.page_text1{
    margin-left: 0px;
    width: 300px;height:100px;
    margin-bottom:20px;
}