#systemuserpage1{
    width: 700px;
    text-align: center;
    float: contour;
    margin-left: 40px;
}
#systemuserpage2{
    width:700px;
    height: 650px;
    text-align: center;
    float: left;
    margin-top: 30px;
    margin-left: 40px;

}
#systemuserpage3{
margin-left: 120px;
    text-align: center;
    width: 100px;
    float: left;
}
#systemuserpage4 {
    margin-left: 5px;
    width: 300px;
    text-align: left;
    float: left;
}
#systemuserpage5{
    width:450px;
    height: 490px;
    margin-left: 125px;
    margin-top: 30px;
    text-align: center;
}
#systemuserpage6{
    width:450px;
    height: 300px;
    margin-left: 125px;
    margin-top: 100px;
    text-align: center;
}
#systemuserpage7{
    margin-left: 165px;
    width: 800px;
    height: 800px;

    float: left;
}