#systemuserpage1{
    margin-left: 130px;
    width: 1000px;
    text-align: center;
    float: contour;
}
#systemuserpage2{
    width:1000px;
    height: 650px;
    text-align: center;
    float: left;
    margin-top: 30px;
    margin-left: 130px;
}
#systemuserpage3{
    margin-left: 300px;
    text-align: center;
    width: 100px;
    float: left;
}
#systemuserpage4 {
    margin-left: 5px;
    width: 300px;
    text-align: left;
    float: left;
}
#systemuserpage5{
    width:450px;
    height: 490px;
    margin-left: 300px;
    margin-top: 30px;
    text-align: center;
}
#systemuserpage6{
    width:450px;
    height: 300px;
    margin-left: 300px;
    margin-top: 100px;
    text-align: center;
}