#home_style1{
    width: 1500px;

}
#home_style2{
    width: 1500px;
    height: 100px;
}
#top_img1{
    width: 1500px;
    height: 100px;
}
#home_style3{
    width: 208px;
    height: 600px;
    float: left;
}
#menu1{
   margin-top: 0;
    background-color: gainsboro;

}
#menu2{
    background-color: gainsboro;
    width: 100px;
}
#item1{
    float: left;
    width: 200px;
}
#item2{
    width: 200px;
}