#style1{
    width: 1600px;
    height: 720px;
    background-image: url("lo1.png");
    background-size: 1600px,730px;
}
#style2{
    width: 1500px;
    height: 250px;
}
#style3{
    width: 1500px;
}
#style4{
    width:375px;
    height: 216px;
    margin-left: 850px;
}

