#style1{
    width: 1500px;
    height: 700px;
}
#style2{
    width: 1500px;
    height: 250px;
}
#style3{
    width: 1500px;
}
#style4{
    width:375px;
    height: 216px;
    margin-left: 850px;
}

