#register_style1{
    width: 1600px;
    height: 730px;
    background-image: url("lo1.png");
    background-size: 1600px,730px;

}
#register_style2{
    width: 1500px;
    height: 100px;
}
#register_style3{
    width: 1500px;
}
#register_style4{
    width:450px;
    height: 490px;
    margin-left: 525px;
    text-align: center;
}

